body {
	background-color: #3c4858; 
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
}

.navbar-brand{
    margin-left: 1%;
    font-weight: bold;
}

#peixe {
	margin-left: 1%;
	width: 50px;
    height: 50px;
    /* transform: scaleX(-1); */
}

#navbarNav {
    justify-content: space-between;
    display: flex;
    justify-content: center;
}

.nav-link{
    margin-left: 5vh;
    font-weight: bold;
}

#cor { 
    color: #00A6FF;
}

.li-inputs{
    display: flex;
    flex-direction: column;
}

.inputs{
    width: 90%;
    height: 1.5em;
    margin-bottom: 2%;
    border-radius: 12px;
    border: 1px solid gray;
    padding-left: 5%;
}

#icone {
    position: static;
    margin-right: 10px;
}

.botao-entrar{
    width: 3vw;
    height: 4vh;
    padding: 0px;
    border: 0px;
    background-color:#f8f9fa;
    border-radius: 8px;
}


